$nav-item-color : #858585;
$lighten-nav-item-color: lighten($nav-item-color, 10%);
$before-nav-item-color: #b8b8b8;
$button-color: #b8b8b8;
$lighten-button-color: lighten($button-color, 10%);
$button-text-color: black;
$lighten-button-text-color: lighten($button-text-color, 10%);
$nav-text-color: black;
$lighten-nav-text-color: lighten($nav-text-color, 10%);