{% macro build_player_forms(players, playersjs) %}
    {% for x in range(1,5) %}
        <div class="player{{ x }} col-lg-3 col-md-6">
            <h1 class="player">Player {{ x }}</h1>
            <select id="chooseplayer{{ x }}" name="chooseplayer{{ x }}" onchange="fillUpInput{{ x }}(players={{ playersjs }})" title="choosePlayer">
                <option value="" selected disabled>--Kies speler--</option>
                <option value="newPlayer">--Nieuwe speler--</option>
                {% for player in players %}
                    <option value="{{ player[0] }}">{{ player[2] }} {{ player[3] }}; {{ player[1] }}</option>
                {% endfor %}
            </select>
            <input type="text" id="firstname{{ x }}" name="firstname{{ x }}" placeholder="Voornaam" required>
            <input type="text" id="lastname{{ x }}" name="lastname{{ x }}" placeholder="Naam" required>
            <input type="text" id="displayname{{ x }}" name="displayname{{ x }}" placeholder="Displaynaam" required onchange="changeDisplayName{{ x }}({{ playersjs }})">
        </div>
    {% endfor %}
{% endmacro %}