<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static",filename="../static/css/bootstrap.css")}}">
    <link rel="stylesheet" href="{{ url_for("static",filename="../static/css/import.css") }}">
</head>
<body>
    <div class="base row">
        <nav class="col-lg-12">
            <ul>
                <li><a href="{{ url_for("index") }}">Home</a></li>
                <li><a href="{{ url_for("quizzenPage") }}">Quiz spelen</a></li>
                <li><a href="{{ url_for("createQuizPage") }}">Quiz maken</a></li>
                <li><a href="{{ url_for("statistiekenPage") }}">Statistieken</a></li>
            </ul>
        </nav>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>