{% extends "base.html" %}
{% block title %}
Quiz - home
{% endblock %}
{% block body %}
    <div class="home">
        <div class="row">
            <img class="col-lg-4 col-lg-offset-1" src="http://via.placeholder.com/311x192">
            <p class="content col-lg-5">Welkom op QuizTime! <br> QuizTime is een project die ik op het einde van mijn eerste jaar NMCT heb gemaakt. <br> Het werkt met vier externe knoppen waarmee u ontereerst kunt antwoorden met dan nog een appart antwoord bakje.<br>Het was de bedoeling dat dit ook nog kon met accelerometers maar in deze versie werkt dat nog niet.<br></p>
        </div>
    </div>
{% endblock %}