{% extends "base.html" %}
{% block title %}
Quiz - home
{% endblock %}
{% block body %}
    <div class="home">
        <div class="row">
            <img class="col-lg-4 col-lg-offset-1" src="http://via.placeholder.com/311x192">
            <p class="content col-lg-5">Lorem ipsum dolor sit amet, nec ne quaeque deseruisse, usu ne virtute oportere consectetuer. Mea in quem reprimique, id dicit percipit vis, dignissim splendidemediocritatem eam no. Placerat forensibus vis at, ferri fugit dicit id mea, ut estipsum paulo iuvaret. Ludus imperdiet ius ea, ancillae deterruisset delicatissimieum ad, ea sea melius equidem reprimique. Ad inani expetenda sit, his cu iisque ceteros.</p>
        </div>
    </div>
{% endblock %}