{% extends "base.html" %}
{% block title %}
Quizzen
{% endblock %}
{% block  body %}
    <div class="quizzen">
        <div class="row">
            <p class="explanation col-lg-12">Gelieve voordat u begint met een quiz te spelen, eerst de gebruikers registreert of nieuwe gebruikers aanmaakt.<br>Om een nieuwe gebruiker aan te maken kiest u in het dropdown menu voor de optie "nieuwe speler". U kunt dan de gegevens voor deze speler invullen.<br>Als u een reeds aangemaakte speler wenst te gebruiken, selecteert u deze uit het dropdown menu. U kunt dan ook de gegevens van die speler aanpassen.<br>Als u met minder dan vier spelers wenst te spelen laat u de dropdown list gewoon op "kies speler" staan.<br>Vervolgens kunt u een quiz kiezen en van start gaan!</p>
        </div>
        <div class="row">
            <div class="warning col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-xs-12 col-sm-12" id="warning" style="display:none">
                <p id="playerwarning" style="display:none"> U kunt geen twee dezelfde spelers kiezen!</p>
                <p id="displaynamewarning" style="display:none"> De ingegeven displaynaam bestaat al!</p>
            </div>
        </div>
        <form name="quizzen" method="POST" id="quizzen">
            <div class="row">
                {{ macro.build_player_forms(players, playersjs) }}
            </div>
            <div class="row">
                 <h1 class="quiz">Quiz</h1>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 choosequiz">
                    <select name="choosequizdrop" id="choosequizdrop" onchange="quizDescription({{ quizzesjs }})" required>
                        <option value="" disabled selected>--Kies quiz--</option>
                        {% for quiz in quizzes %}
                            <option value="{{ quiz[0] }}">{{ quiz[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <p class="quizDescription col-lg-12" id="quizDescription"></p>
            </div>
            <div class="row submitButton">
                <div class="col-xs-12">
                    <input type="submit" class="button col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12" id="submitQuizzen" value="Start" href="{{ url_for("quizVraag") }}">
                </div>
            </div>
        </form>
    </div>
{% endblock %}