{% extends "base.html" %}
{% block title %}
Quizzen
{% endblock %}
{% block  body %}
    <div class="quizzen">
        <div class="row">
            <p class="explanation col-lg-12">Lorem ipsum dolor sit amet, nec ne quaeque deseruisse, usu ne virtute oportere consectetuer. Mea in quem reprimique, id dicit percipit vis, dignissim splendide mediocritatem eam no. Placerat forensibus vis at, ferri fugit dicit id mea, ut est ipsum paulo iuvaret. Ludus imperdiet ius ea, ancillae</p>
        </div>
        <div class="row">
            {{ macro.build_player_forms(players) }}

        </div>
        <div class="row">
            <form name="choosequiz" class="col-lg-6 col-lg-offset-3 choosequiz">
                <select name="choosequizdrop" id="choosequizdrop" onchange="quizDescription()">
                    <option value="" disabled selected>--Kies quiz--</option>
                    {% for quiz in quizzes %}
                        <option value="{{ quiz[0] }}">{{ quiz[1] }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    <p id="demo"></p>
        <div class="row">
            <p class="quizDescription col-lg-12" id="quizDescription"></p>
        </div>
        <div class="row">
            <from class="col-lg-2 col-lg-offset-5" name="submitplayerforms">
                <input type="submit" value="Start" class="button">
            </from>
        </div>
    </div>
{% endblock %}