.button{
  margin-top: 20px;
  height: 45px;
  background-color: $button-color;
  border: none;
  font-size: 36px;
  font-weight: bold;
  line-height: 45px;
  color: $button-text-color;
  &:hover{
    background-color: $lighten-button-color;
    color: $lighten-button-text-color;
  }
  @media screen and (max-width: $screen-xs-max){
    width: 100%;
  }
}